@charset 'utf-8';
@import url('common.css');

.container{position:relative;}
.container video{
    position:fixed;
    top:0; left:0;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-1;
}
.text{position: relative;}
.text{
    writing-mode:vertical-lr;
    white-space:pre-line;
    left:75%; top:35%;
    position:absolute;
    font-size:1.3rem;
    font-weight:normal;
    color:#292f4e;
}
footer{position: relative;}
footer{
    left:43%; top:90%;
    position:absolute;
    justify-content: center;
    color:#292f4e;
    text-align: center;
    font-weight:normal;
}

