@charset 'utf-8';
@import url('common.css');

.container{position:relative;}
.container video{
    position:fixed;
    top:0; left:0;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-1;
}
.text{position: relative;}
.text{
    writing-mode:vertical-lr;
    white-space:pre-line;
    left:75%; top:35%;
    position:absolute;
    font-size:1.3rem;
    font-weight:normal;
    color:#292f4e;
}
footer{position: relative;}
footer{
    left:43%; top:90%;
    position:absolute;
    justify-content: center;
    color:#292f4e;
    text-align: center;
    font-weight:normal;
}

/* media */
@media (max-width : 1290px){
    .container{width:100%;}
}
@media (max-width : 1024px){
    .container{width:100%;}
}
@media (max-width: 960px){
    .container{width:100%;}
    header > div nav> div {
        width:30%; height:100%;
    }
    footer{position: relative;}
    footer{
        left:35%; top:90%;
        position:absolute;
        justify-content: center;
        color:#292f4e;
        text-align: center;
        font-weight:normal;
    }
}
@media (max-width: 767px){
    .container{width:100%;}
    header > div nav> div {
        width:40%; height:100%;
    }
    footer{position: relative;}
    footer{
        left:30%; top:90%;
        position:absolute;
        justify-content: center;
        color:#292f4e;
        text-align: center;
        font-weight:normal;
    }
    
}
@media (max-width: 480px){
    .container{width:100%;}
    header > div nav> div {
        width:100%; height:100%;
        opacity:75%;
    }
    footer{position: relative;}
    footer{
        left:20%; top:90%;
        position:absolute;
        justify-content: center;
        color:#292f4e;
        text-align: center;
        font-weight:normal;
    }
}

