@charset 'utf-8';
@import url('common.css');

body{
    background:#ebecf0;
}

ul, li{ 
    
    list-style:none;
    text-align:center;
    padding:0;
    margin:0;
}

#mainWrapper{
    padding-top:12%;
    width: 1000px;
    margin: 0 auto;
}

#mainWrapper > ul > li:first-child {
    text-align: center;
    font-size:1.5rem;
    height:40px;
    vertical-align:middle;
    line-height:30px;
}

#ulTable {margin-top:10px;}


#ulTable > li:first-child > ul > li {
    background-color:#292f4e;
    font-weight:bold;
    text-align:center;
    color:#fff;
}

#ulTable > li > ul {
    clear:both;
    padding:0px auto;
    position:relative;
    min-width:40px;
}
#ulTable > li > ul > li { 
    float:left;
    font-size:1rem;
    border-bottom:1px solid #292f4e;
    vertical-align:baseline;
}    

#ulTable > li > ul > li:first-child               {width:10%;} 
#ulTable > li > ul > li:first-child +li           {width:45%;} 
#ulTable > li > ul > li:first-child +li+li        {width:20%;} 
#ulTable > li > ul > li:first-child +li+li+li     {width:15%;} 
#ulTable > li > ul > li:first-child +li+li+li+li  {width:10%;} 

#divPaging {
    clear:both; 
    margin:0 auto; 
    width:220px; 
    height:50px;
    color:#292f4e;
}

#divPaging > div {
    float:left;
    width: 30px;
    margin:0 auto;
    text-align:center;
}

#liSearchOption {clear:both;}
#liSearchOption > div {
    display: flex;
    margin:0 auto; 
    margin-top: 30px; 
    width:auto; 
    height:100px;
    align-items: center;
    justify-content: center;

}

.left {
    text-align : left;
}

