@charset 'utf-8';
@import url('common.css');

body{
    background:#ebecf0;
}

main{}
.title{
    position:absolute;
    color:#fff;
    font-size:2rem;
    font-weight:normal;
    top:30%; left:80%; right:20%;
    
}
main img{width:100%; margin:0 auto;}

h3{
    padding: 150px 0;
    text-align:center;
    white-space: pre-line;
    font-size:1rem;
    font-weight: normal;
    line-height: 2rem;
}
h4{
    padding-top:5%;
    font-size:2rem;
    padding-left:3%;
}

.container2{
    margin:50px; padding:0;
    display:flex;  
    flex-wrap:wrap;
    justify-content:space-between;
}

.container2 li{
    width:30%;
    margin-bottom:5%;
    position:relative;
    overflow:hidden;
    border-radius:25px;
}

.container2 li figure{}
.container2 li figure a{
    position:absolute;
    top:65%;
    left:-100%; bottom:0;
    border-radius:25px;
    color:#fff;
    font-size:1.2rem;
    line-height:50px;
    
    background:#292f4e;
    width:100%; height:100%;
    text-align:center;
    opacity:75%;
    
}
.container2 li figure img{
    width:100%; height:50vh; 
    
    transition:.5s;
    
}

.container2 li:hover a{
    left:0;
    transition:.5s;
    
}
.container2 li:hover figure img{
    width:110%;
}


footer{
    padding:15px 0;
    background-color:#292f4e;
    color:#fff;
    text-align: center;
}

/* media */
@media (max-width : 1290px){
    
}
@media (max-width : 1024px){
    
}    
@media (max-width: 960px){
    
}
@media (max-width: 767px){
    h4{
        padding-top:5%;
        font-size:2rem;
        padding-left:8%;
    }
    
    .container2{
        margin:50px; padding:0;
        
        display:block;  
        
        
    }
    
    .container2 li{
        width:100%;
        margin-bottom:5%;
        position:relative;
        overflow:hidden;
        border-radius:25px;
    }
    
    .container2 li figure{}
    .container2 li figure a{
        position:absolute;
        top:65%;
        left:-100%; bottom:0;
        border-radius:25px;
        color:#fff;
        font-size:1.2rem;
        line-height:50px;
        
        background:#292f4e;
        width:100%; height:100%;
        text-align:center;
        opacity:75%;
        
    }
    .container2 li figure img{
        width:100%; height:50vh; 
        
        transition:.5s;
        
    }
    
    .container2 li:hover a{
        left:0;
        transition:.5s;
        
    }
    .container2 li:hover figure img{
        width:110%;
    }
}
@media (max-width: 480px){
    
}